# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
* Notes
*S_M_S\Notes

# Django
db.sqlite3
media/
staticfiles/


# Environments
venv/
.env
*.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
