
<nav style="background: #333; padding: 1em;">
    <ul style="list-style: none; display: flex; gap: 1.5em; margin: 0; padding: 0;">
        <li><a href="/" style="color: #fff; text-decoration: none;">Home</a></li>
        <li><a href="/about/" style="color: #fff; text-decoration: none;">About</a></li>
        <li><a href="/blog/" style="color: #fff; text-decoration: none;">Blog</a></li>
        <li><a href="/contact/" style="color: #fff; text-decoration: none;">Contact</a></li>
       
        
        <!-- <form action="{% url 'Home' %}" method="get">
            <input type="text" name="q" placeholder="search Room.....">
        </form> -->


        <li style="margin-left:auto;"><a href="/LoginPage/" style="color: #fff; text-decoration: none;">Login</a></li>

    </ul>
</nav>
