{%extends 'main.html'%} {% block content%}

<style>
  .room-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
</style>

<div class="room-container">
  <div>
    <h1>Welcome to Simple Blog</h1>
    <p>This is the Room page of your blog.</p>
    <hr />
    <h1>{{room.name}}</h1>
    <p>{{ room.description }}</p>

    <div class="comment-wrappper">
      <h3>Conversation</h3>
      <hr />

      {% if room_messages %}
      <ul class="messages">
        {% for message in room_messages %}
        <div>
          {% if request.user == message.user %}
          <a href="{% url 'delete_message' message.id %}">Delete</a>
          {% endif %}

          <small> @{{message.user}} {{message.created | timesince}} ago </small>
          <p>{{message.body}}</p>
        </div>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% if request.user.is_authenticated %}

    <div class="comment-form">
      <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="body" placeholder="write your message" />
        <button type="submit">Send</button>
      </form>
    </div>
  </div>

  <div>
    <p><b> Participants Sections </b></p>
    <hr />
    {% for user in participants %}
    <div>
      <p>@{{user.username}}</p>
    </div>

    {% endfor %}
  </div>
</div>
{% endif %} {%endblock content%}
